<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>dkbruce</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/style.css') }}">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>
</head>
<main>
    {% extends "template.html" %}
    
    {% block content %}
        <div class='container'>
            <div class='row'>
                <div class='col-md-12'>
                    <h1>API Routes</h1>
                    <ul>
                            <li><strong>/api/v1/</strong> - Returns endpoints.</li>
                        <li><strong>/api/v1/&lt;string:state&gt;/</strong> - Returns population flow to every other state from given state for all years.</li>
                        <li><strong>/api/v1/&lt;int:year&gt;/</strong> - Returns population flow between every pair of states for given years.</li>
                        <li><strong>/api/v1/&lt;string:state&gt;/&lt;int:year&gt;/</strong> - Returns population flow to every other state from given state for given year.</li>

                    </ul>
                </div>
            </div>

            <div class='row'>
                <div class='col-md-12'>
                    <h1>Example usage</h1>
                    <p>Calling the endpoint <strong>/api/v1/florida/2017/</strong> returns a JSON object:<br>
                    {<br>
                    &emsp;2017: {<br>
                    &emsp;&emsp;    Alabama: 14171,<br>
                    &emsp;&emsp;    Alaska: 906,<br>
                    &emsp;&emsp;    Arizona: 8522,<br>
                    &emsp;&emsp;    Arkansas: 1525,<br>
                    &emsp;&emsp;    California: 24611,<br>
                    &emsp;&emsp;    Colorado: 12385,<br>
                    &emsp;&emsp;    Connecticut: 6589,<br>
                    &emsp;&emsp;    ...<br>
                    &emsp;&emsp;    }<br>
                    }.</p>

                    <p>The interpretation of this is: in the year 2017, a total of 14171 people moved from Florida to Alabama, 906 people moved from Florida to Alaska, etc.</p>
                </div>
            </div>

            <div class='row'>
                <div class='col-md-12'>
                    <p>Calling the endpoint <strong>/api/v1/2017/</strong> returns the JSON object: <br>
                        {<br>
                            &emsp;    Alabama: {<br>
                                &emsp;&emsp;    Alaska: 942,<br>
                                &emsp;&emsp;    Arizona: 1337,<br>
                                &emsp;&emsp;    Arkansas: 574,<br>
                                &emsp;&emsp;    California: 3715,<br>
                                &emsp;&emsp;    Colorado: 3120,<br>
                                &emsp;&emsp; ...<br>
                                &emsp;&emsp; }<br>
                        }.</p>

                    <p>The interpretation of this is: in the year 2017, a total of 942 people moved from Alabama to Alaska, etc.</p>
                </div>
            </div>
        </div>
    {% endblock %}
    </main>